version: '3.8'

services:
  app:
    build: .
    
    volumes:
      - ..:/workspaces/${COMPOSE_PROJECT_NAME}:cached
    
    depends_on:
      - db
    
    command: sleep infinity

  db:
    image: mongo:latest
    
    ports:
      - "27017:27017"
    
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
