@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');
@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

@theme {
  /* --- Fonts --- */
  --font-sans: "Rubik", sans-serif;

  /* --- Text Colors --- */
  /* Usage: text-text-primary, border-text-primary */
  --color-text-primary: #2a4263;
  --color-text-secondary: #4B5563;
  --color-text-placeholder: #9CA3AF;
  --color-text-link: #4B5563;
  --color-text-link-hover: #0891b2;
  --color-text-success: #10B981;
  --color-text-warning: #F59E0B;
  --color-text-error: #EF4444;

  /* --- Button Colors (Backgrounds) --- */
  /* Usage: bg-btn-primary, bg-btn-primary-hover */
  --color-btn-primary: #2A4263;
  --color-btn-primary-hover: #0891B2;
  --color-btn-primary-disabled: #9CA3AF;
  --color-btn-secondary: #FFFFFF;
  --color-btn-secondary-hover: #E0F7FA;

  /* --- Backgrounds / Containers --- */
  /* Usage: bg-bg-primary, bg-bg-page */
  --color-bg-primary: #FFFFFF;
  --color-bg-secondary: #F9FAFB;
  --color-bg-info: #E0F2F6;
  --color-bg-success-container: #D1FAE5;
  --color-bg-warning-container: #FEF3C7;
  --color-bg-error-container: #FEE2E2;
  --color-bg-page: #F3F4F6;

  /* --- Borders --- */
  /* Usage: border-border-container */
  --color-border-container: #E5E7EB;
  --color-border-secondary: #4B5563;
}
